
<% unless smart_listing.empty? %>
<div class="table-container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr role="row">
        <th class="sorting">Nomor Setor</th>
        <th class="sorting">Nomor Pendataan</th>
        <th class="sorting">Rekening</th>
        <th class="sorting">NPWP</th>
        <th class="sorting">Nama Usaha</th>
        <th class="sorting">Tanggal Setor</th>
        <th class="sorting">Jumlah Setor</th>
        <th class="sorting">Untuk Pembayaran</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% 
          counting = 1
      %>
      <% smart_listing.collection.each do |penetapan| %>
              <% if counting.odd? %>
                  <tr role="row" class="odd">
              <% else %>
                <tr role="row" class="even">
              <% end %>
          <td><%= penetapan.try(:no_setor) %></td>
          <td><%= penetapan.pendataan.no_pendataan %></td>
          <td><%= penetapan.pendataan.rekening.nama_rekening %></td>
          <td><%= penetapan.pendataan.pendaftaran.npwp %></td>
          <td><%= penetapan.pendataan.pendaftaran.nama_usaha %></td>
          <td><%= I18n.l(penetapan.tgl_setor, format:'%d %B %Y') if penetapan.try(:no_setor).present? %></td>
          <td><%= humanized_money penetapan.jumlah_pajak_teliti %></td>
          <td><%= penetapan.status %></td>
          <td>
              <div class="action-buttons">
                <%= link_to(raw('<i class="ace-icon fa fa-print bigger-130"></i>'), penyetoran_cetak_tanda_bukti_path(id: penetapan.id, tanggal:nil, format: 'pdf')) %>
              </div>
          </td>
        </tr>
        <% counting += 1 %>
      <% end %>
    </tbody>
  </table>
</div>
<%= smart_listing.paginate  %>
<% else %>
<p> Data tidak ditemukan </p>
<% end %>