<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller lighter blue">Cetak STS</h3>
    <div class="clearfix"></div>
    <%= smart_listing_controls_for(:pendataans, {class:"form-vertical", :role => "form"}) do %>
        <div class="col-xs-12">
            <div class="col-md-2">
                <div class="field">
                    <div class="form-group">
                        <%= label_tag :tanggal_setor %>
                        <div class='input-group'>
                            <%= text_field_tag :tanggal, @current_date, {class: "form-control date-picker", 'data-date-format'=>"dd-mm-yyyy", onchange:"$('.smart-listing-controls').submit();"} %>
                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <div class="clearfix"></div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h5 class="smaller blue" style="float: left;">List pendataan yang sudah setor</h5>
                        <div class="widget-toolbar">
                            <%= link_to(raw('<i class="ace-icon fa fa-search"> Refresh</i>'), 'javascript:void(0)', onclick:"$('.smart-listing-controls').submit();") %>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
					        <%= smart_listing_render(:pendataans) %>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
  </div>
</div>
