<div class="row">
  <div class="col-xs-12">
    <%= form_for(bidang, :html => {:class => "form-horizontal" , :role => "form"}) do |f| %>
      <%= render 'shared/error', error_form: bidang %>
      <div class="field">
        <div class="form-group">
          <%= f.label :kode_bidang, class: "col-sm-2 control-label no-padding-right" %>
          <div class="col-sm-1">
            <%= f.text_field :kode_bidang, class: "form-control", validate: true, :maxlength => 2,  onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="form-group">
          <%= f.label :nama_bidang, class: "col-sm-2 control-label no-padding-right" %>
          <div class="col-sm-6">
            <%= f.text_field :nama_bidang, class: "form-control", validate: true %>
          </div>
        </div>
      </div>
      
      <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
        <%= button_tag(type: 'submit', class: "btn btn-info") do %>
          <i class="ace-icon fa fa-check bigger-110"></i> Simpan
        <% end %>
        &nbsp; &nbsp; &nbsp;
        <%= link_to(raw('<i class="ace-icon fa fa-undo bigger-110"></i> kembali'), bidangs_path, class: "btn") %>
      </div>
       </div>
    <% end %>
  </div>
</div>