<div class="row">
  <div class="col-xs-12">
    <%= form_for(ttd, :html => {:class => "form-horizontal" , :role => "form"}) do |f| %>
      <%= render 'shared/error', error_form: ttd %>
      <div class="field">
        <div class="form-group">
          <%= f.label :nama_surat, class: "col-sm-2 control-label no-padding-right" %>
          <div class="col-sm-6">
            <%= f.text_field :nama_surat, class: "form-control", validate: true, readonly:(!ttd.new_record?) %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="form-group">
          <%= f.label :baris1, class: "col-sm-2 control-label no-padding-right" %>
          <div class="col-sm-6">
            <%= f.text_field :baris1, class: "form-control", validate: true %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="form-group">
          <%= f.label :baris_2, class: "col-sm-2 control-label no-padding-right" %>
          <div class="col-sm-6">
            <%= f.text_field :baris2, class: "form-control", validate: true %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="form-group">
          <%= f.label :baris_3, class: "col-sm-2 control-label no-padding-right" %>
          <div class="col-sm-6">
            <%= f.text_field :baris3, class: "form-control", validate: true %>
          </div>
        </div>
      </div>
       <div class="field">
        <div class="form-group">
          <%= f.label :pegawai_id, class: "col-sm-2 control-label no-padding-right" %>
          <div class="col-sm-6">
          <%= f.collection_select(:pegawai_id, Pegawai.all, :id, :nip_dan_nama, {prompt: ' -- Pilih Pegawai -- '}, {class: "chosen-select  form-control"}) %>
          </div>
        </div>
      </div>
      <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
        <%= button_tag(type: 'submit', class: "btn btn-info") do %>
          <i class="ace-icon fa fa-check bigger-110"></i> Simpan
        <% end %>
        &nbsp; &nbsp; &nbsp;
        <%= link_to(raw('<i class="ace-icon fa fa-undo bigger-110"></i> kembali'), ttds_path, class: "btn") %>
      </div>
       </div>
    <% end %>
  </div>
</div>