<p id="notice"><%= notice %></p>

<p>
  <strong>Baris1:</strong>
  <%= @ttd.baris1 %>
</p>

<p>
  <strong>Baris2:</strong>
  <%= @ttd.baris2 %>
</p>

<p>
  <strong>Baris3:</strong>
  <%= @ttd.baris3 %>
</p>

<p>
  <strong>Pegawai:</strong>
  <%= @ttd.pegawai_id %>
</p>

<%= link_to 'Edit', edit_ttd_path(@ttd) %> |
<%= link_to 'Back', ttds_path %>
