<div class="row">
  <div class="col-xs-12">
    <div class="widget-box">
      <div class="widget-header widget-header-flat">
        <h4 class="widget-title smaller">Detail Jabatan</h4>
        <div class="widget-toolbar">
          <%= link_to(raw('<i class="ace-icon fa fa-pencil align-center"></i> Edit'), edit_jabatan_path(@jabatan)) %> | 
          <%= link_to(raw('<i class="ace-icon fa fa-undo icon-only"></i> kembali'), jabatans_path) %> |
          <%= link_to(raw('<i class="ace-icon fa fa-trash icon-only"></i> Hapus'), @jabatan, method: :delete, data: { confirm: 'Ada yakin ingin menghapus data ini?' }) %>
        </div>
      </div>
      <div class="widget-body">
        <div class="widget-main">
          <dl id="dt-list-1" class="">
            <dt><strong>Kode Jabatan:</strong></dt>
            <dd><%= @jabatan.kode_jabatan %></dd>
            <dt><strong>Nama Jabatan:</strong></dt>
            <dd><%= @jabatan.nama_jabatan %></dd>
            <dt><strong>Singkatan:</strong></dt>
            <dd><%= @jabatan.singkatan %></dd>
					</dl>
        </div>
      </div>
    </div>
  </div>
</div>



