<p id="notice"><%= notice %></p>

<p>
  <strong>Kode jabatan:</strong>
  <%= @jabatan.kode_jabatan %>
</p>

<p>
  <strong>Nama jabatan:</strong>
  <%= @jabatan.nama_jabatan %>
</p>

<p>
  <strong>Singkatan:</strong>
  <%= @jabatan.singkatan %>
</p>

<%= link_to 'Edit', edit_jabatan_path(@jabatan) %> |
<%= link_to 'Back', jabatans_path %>
