<div class="row">
  <div class="col-xs-12">
    <%= form_for(pendataan) do |f| %>
      <%= render 'shared/error', error_form: pendataan %>
      <div class="row">
        <div class="col-md-2">
          <div class="field">
            <div class="form-group">
              <%= f.label :tahun_spt, 'Tahun SPT' %>
              <%= f.text_field :tahun_spt, class: "form-control", validate: true, :maxlength => 4,  onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
              <%= f.hidden_field :kode_rekening, value:rekening.kode %>
              <%= hidden_field_tag :tarif_sebelum_rokok, value:pendataan.tarif_persen %>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="field">
            <div class="form-group">
              <%= f.label :no_pendataan, 'No Pendataan' %>
              <%= f.text_field :no_pendataan, class: "form-control", validate: true, readonly:true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="field">
            <div class="form-group">
              <%= f.label :tgl_data, 'Tanggal Pendataan' %>
              <div class='input-group'>
                <%= f.text_field :tgl_data, class: "form-control date-picker", validate: true, 'data-date-format'=>"dd-mm-yyyy" %>
                <span class="input-group-addon">
                  <i class="fa fa-calendar bigger-110"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="field">
            <div class="form-group">
              <%= f.label :pendaftaran_id, 'Wajib Pajak' %>
              <%= f.collection_select(:pendaftaran_id, Pendaftaran.all, :id, :npwp_nama_usaha, {prompt: ' -- Pilih Wajib Pajak -- '}, {class: "chosen-select form-control", selected: pendataan.pendaftaran_id}) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="field">
            <div class="form-group">
              <%= f.label :periode_awal, 'Periode' %>
              <div class='input-group'>
                <%= f.text_field :periode_awal, class: "form-control date-picker", validate: true, 'data-date-format'=>"dd-mm-yyyy" %>
                <span class="input-group-addon" style="background-color:white;">
                  s/d
                </span>
                <%= f.text_field :periode_akhir, class: "form-control date-picker", validate: true, 'data-date-format'=>"dd-mm-yyyy" %>
                <span class="input-group-addon">
                  <i class="fa fa-calendar bigger-110"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <% if rekening.kode != '1104' and rekening.kode != '1108' %>
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :tgl_jth_tempo, 'Tanggal Jatuh Tempo' %>
                <div class='input-group'>
                  <%= text_field_tag :tgl_jth_tempo, '', {class: "form-control", readonly:true} %>
                  <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>

       <% if rekening.kode == '1104' %>
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= label_tag :status, 'Status Reklame' %>
                <%= select_tag(:status_rekening, options_for_select(Rekening.statuses.keys.to_a.map { |w| [w.humanize, w]}, pendataan.rekening.try(:status)), {class: "form-control", prompt: ""}) %>
              </div>
            </div>
          </div>
      <% end %>
      </div>
      <div class="row">
        <% if rekening.kode == '1104' %>
          <div class="col-md-8">
        <% else %>
          <div class="col-md-5">
        <% end %>
          <div class="field">
            <div class="form-group">
              <%= f.label :rekening_id, 'Rekening' %>
              <% if pendataan.tahun_spt.present? %>
                <% tahun = pendataan.tahun_spt %>
              <% else %>
                <% tahun = 0 %>
              <% end %>
              <%= f.select :rekening_id, options_for_select(Rekening.where("jenis_kode != '00' and kode= '" + rekening.kode + "' and tahun = " + tahun.to_s).map{|c|[c.rekenig_lengkap_dan_nama, c.id, {tarif: c.tarif, persen: c.persen}]}, pendataan.rekening_id), {include_blank: ' -- Pilih Rekening -- '}, {class: "chosen-select form-control"} %>
            </div>
          </div>
        </div>
        
        <% if rekening.kode != '1105' and rekening.kode != '1111' and rekening.kode != '1104' and rekening.kode != '1108' %>
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :omzet %>
                <div class='input-group'>
                  <span class="input-group-addon">
                    Rp.
                  </span>
                  <%= f.text_field :omzet, class: "form-control money-left", data: { role: 'money' }, validate: true %>
                </div>
              </div>
            </div>
          </div>          
        <% end %>
        <% if rekening.kode != '1105' and rekening.kode == '1111' %>
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :jumlah_volume %>
                <div class='input-group'>
                  <%= f.text_field :jumlah_volume, class: "form-control money-left", data: { role: 'money' }, validate: true %>
                  <span class="input-group-addon">
                    m<sup>3</sup>
                  </span>
                </div>
              </div>
            </div>
          </div>    
        <% end %>

      

      <% if rekening.kode == '1108' %>
        <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :npa %>
                <%= f.text_field :npa, class: "form-control money-left", data: { role: 'money' }, validate: true %>
              </div>
            </div>
          </div>   
      <% end %>
        
      </div>

      <% if rekening.kode == '1104' %> 
        <div class="row">
          <div class="col-md-5">
            <div class="field">
              <div class="form-group">
                <%= f.label :judul_reklame %>
                <%= f.text_field :judul_reklame, class: "form-control", validate: true %>
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="field">
              <div class="form-group">
                <%= f.label :lokasi_reklame %>
                <%= f.text_area :lokasi_reklame, class: "form-control", validate: true %>
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="field">
              <div class="form-group">
                <%= f.label :jumlah_reklame, "Jumlah" %>
                <%= f.text_field :jumlah_reklame, class: "form-control money-left", validate: true,  onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
              </div>
            </div>
          </div> 
          <div class="col-md-1 col-md-offset-1">
            <div class="field">
              <div class="form-group">
                <%= f.label :jumlah_hari_reklame, "Hari/Bln/Thn/Penyelenggaraan" %>
                <%= f.text_field :jumlah_hari_reklame, class: "form-control money-left", validate: true,  onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
              </div>
            </div>
          </div> 
          <div class="col-md-2 col-md-offset-2">
            <div class="field">
              <div class="form-group">
                <%= f.label :pajak_rokok %>
                <div class='input-group'>
                <%= f.text_field :pajak_rokok, class: "form-control money-left", readonly:true, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', validate: true %>
                <span class="input-group-addon">
                    %
                  </span>
                <span class="input-group-addon">
                    <%= check_box_tag :rokok, 0 %>
                  </span>
                </div>
              </div>
            </div>
          </div>  
        </div> 
        <div class="row">
          <div class="col-md-2">
            <div class="field">
              <div class="form-group">
                <%= f.label :panjang_reklame %>
                <div class='input-group'>
                  <%= f.text_field :panjang_reklame, class: "form-control money-left", validate: true, data: { role: 'money' } %>
                  <span class="input-group-addon">
                    m
                  </span>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-md-2 col-md-offset-0 ">
            <div class="field">
              <div class="form-group">
                <%= f.label :lebar_reklame %>
                <div class='input-group'>
                <%= f.text_field :lebar_reklame, class: "form-control money-left", validate: true, data: { role: 'money' } %>
                 <span class="input-group-addon">
                    m
                  </span>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-md-2 col-md-offset-1">
            <div class="field">
              <div class="form-group">
                <%= f.label :luas_reklame %>
                <div class='input-group'>
                <%= f.text_field :luas_reklame, class: "form-control money-left", readonly:true, validate: true, data: { role: 'money' } %>
                <span class="input-group-addon">
                    m<sup>2</sup>
                  </span>
                </div>
              </div>
            </div>
          </div> 
        </div> 
        <div class="row">
          <div class="col-md-2">
            <div class="field">
              <div class="form-group">
                <%= f.label :tinggi_reklame, "Tinggi" %>
                <div class='input-group'>
                <%= f.text_field :tinggi_reklame, class: "form-control money-left", validate: true, data: { role: 'money' } %>
                <span class="input-group-addon">
                    m
                  </span>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-md-2 ">
            <div class="field">
              <div class="form-group">
                <%= f.label :nilai_lokasi_reklame, "Lokasi" %>
                <%= f.select :nilai_lokasi_reklame, options_for_select(Pendataan::LOKASI, :selected => pendataan.nilai_lokasi_reklame.to_i), {include_blank:true}, {class: "form-control", selected: pendataan.nilai_lokasi_reklame} %>
              </div>
            </div>
          </div> 
          <div class="col-md-2  col-md-offset-1">
            <div class="field">
              <div class="form-group">
                <%= f.label :sudut_pandang_reklame, "Sudut Pandang" %>
                <%= f.select :sudut_pandang_reklame, options_for_select(Pendataan::SUDUT_PANDANG, :selected => pendataan.sudut_pandang_reklame.to_i), {include_blank:true}, {class: "form-control"} %>
              </div>
            </div>
          </div> 
        </div> 
        <div class="row">
          <div class="col-md-2">
            <div class="field">
              <div class="form-group">
                <%= f.label :tarif_rupiah, 'Nilai Sewa' %>
                <div class='input-group'>
                  <span class="input-group-addon">
                    Rp.
                  </span>
                  <%= f.text_field :tarif_rupiah, class: "form-control money-left", data: { role: 'money' }, readonly:true %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :nilai_sewa_reklame %>
                <div class='input-group'>
                  <span class="input-group-addon">
                    Rp.
                  </span>
                  <%= text_field_tag :nilai_sewa_reklame, '', {class: "form-control money-left", validate: true, data: { role: 'money' }, readonly:true} %>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :nilai_sewa %>
                <div class='input-group'>
                  <span class="input-group-addon">
                    Rp.
                  </span>
                  <%= text_field_tag :nilai_sewa, '', {class: "form-control money-left", validate: true, data: { role: 'money' }, readonly:true} %>
                </div>
              </div>
            </div>
          </div> 
        </div> 
        <div class="row">
          <div class="col-md-2">
            <div class="field">
              <div class="form-group">
                <%= f.label :tarif_persen, 'Tarif' %>
                <div class='input-group'>
                  <%= f.text_field :tarif_persen, class: "form-control money-left", readonly:true %>
                  <span class="input-group-addon">
                    %
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :nilai_media %>
                <div class='input-group'>
                  <span class="input-group-addon">
                    Rp.
                  </span>
                  <%= text_field_tag :nilai_media, '', {class: "form-control money-left", validate: true, data: { role: 'money' }, readonly:true} %>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :jumlah_pajak %>
                <div class='input-group'>
                  <span class="input-group-addon">
                    Rp.
                  </span>
                  <%= f.text_field :jumlah_pajak, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      
      <% if rekening.kode == '1105' %>
        <div class="row">
          <div class="col-md-2">
            <div class="field">
              <div class="form-group">
                <%= f.label :pemakaian_daya %>
                <div class='input-group'>
                  <%= f.text_field :pemakaian_daya, class: "form-control money-left", data: { role: 'money' } %>
                  <span class="input-group-addon">
                    KVA
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :volume_pemakaian %>
                <%= f.text_field :volume_pemakaian, class: "form-control money-left", data: { role: 'money' } %>
              </div>
            </div>
          </div>
        </div>    
      <% end %>
      <% if rekening.kode != '1104' %>
        <div class="row">
          <div class="col-md-2">
            <div class="field">
              <div class="form-group">
                <%= f.label :tarif_persen, 'Tarif' %>
                <div class='input-group'>
                  <%= f.text_field :tarif_persen, class: "form-control money-left", readonly:true %>
                  <span class="input-group-addon">
                    %
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :tarif_rupiah, 'Nilai' %>
                <div class='input-group'>
                  <span class="input-group-addon">
                    Rp.
                  </span>
                  <%= f.text_field :tarif_rupiah, class: "form-control money-left", data: { role: 'money' }, readonly:true %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="field">
              <div class="form-group">
                <%= f.label :jumlah_pajak %>
                <div class='input-group'>
                  <span class="input-group-addon">
                    Rp.
                  </span>
                  <%= f.text_field :jumlah_pajak, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
          <%= button_tag(type: 'submit', class: "btn btn-info") do %>
            <i class="ace-icon fa fa-check bigger-110"></i> Simpan
          <% end %>
          &nbsp; &nbsp; &nbsp;
          <%= link_to(raw('<i class="ace-icon fa fa-undo bigger-110"></i> kembali'), pendataans_path, class: "btn") %>
        </div>
      </div>
    <% end %>
  </div>
</div>

