<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller lighter blue">Rekam Penetapan</h3>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-12">
            <%= form_tag(penetapan_index_path, method: 'post', id:'form-penetapan', :remote => true) do %>
                <div class="row">
                    <div class="col-md-2">
                        <div class="field">
                            <div class="form-group">
                                <%= label_tag :tanggal_penetapan %>
                                <div class='input-group'>
                                    <%= text_field_tag :tanggal, @current_date, {class: "form-control date-picker", 'data-date-format'=>"dd-mm-yyyy"} %>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="field">
                            <div class="form-group">
                                <%= label_tag :no_pendataan, 'No Pendataan' %>
                                <%= text_field_tag :no_pendataan_penetapan, '', {class: "form-control", validate: true, :maxlength => 7,  onkeypress: 'return event.charCode >= 48 && event.charCode <= 57'} %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr hr-18 hr-double dotted"></div>
                <% end %>
            <div id="form-nested">
            <div>
        </div>
    </div>
  </div>
</div>
