<div class="page-header">
    <h1>Penetapan
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            No Pendataan : <%= @pendataan.no_pendataan %>
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <%= form_for(@pendataan) do |f| %>
            <% if @penelitian.new_record? %>
                <div class="row">
                    <div class="col-md-2">
                        <div class="field">
                            <div class="form-group">
                                <%= label_tag :tanggal_penetapan %>
                                <div class='input-group'>
                                    <%= text_field_tag :tanggal, @current_date, {class: "form-control date-picker", 'data-date-format'=>"dd-mm-yyyy"} %>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% else %>
                <div class="row">
                    <div class="col-md-2">
                        <div class="field">
                            <div class="form-group">
                                <%= label_tag :tanggal_penetapan %>
                                <div class='input-group'>
                                    <%= text_field_tag :tanggal, @pendataan.tgl_tetap.strftime('%d-%m-%Y'), {class: "form-control", 'data-date-format'=>"dd-mm-yyyy", readonly:true} %>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="hr hr-18 hr-double dotted"></div>
            <h4 class="lighter">
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a class="pink"> Penelitian
                    <small><i class="ace-icon fa fa-angle-double-right"></i> Info pendataan </small>
                </a>
            </h4>
            <div class="hr hr-18 hr-double dotted"></div>
            <div class="row">
                <div class="col-md-2">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :tahun_spt, 'Tahun SPT' %>
                            <%= f.text_field :tahun_spt, class: "form-control", validate: true, :maxlength => 4, readonly:true,  onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :no_pendataan, 'No Pendataan' %>
                            <%= f.text_field :no_pendataan, class: "form-control", validate: true, readonly:true %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :tgl_data, 'Tanggal Pendataan' %>
                            <div class='input-group'>
                                <%= f.text_field :tgl_data, class: "form-control", validate: true, 'data-date-format'=>"dd-mm-yyyy", readonly:true %>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="field">
                        <div class="form-group">
                            <%= label_tag :wajib_pajak %>
                            <%= f.collection_select(:pendaftaran_id, Pendaftaran.where('id=?',@pendataan.pendaftaran_id), :id, :npwpd_nama_usaha, {prompt: ' -- Pilih Wajib Pajak -- '}, {class: "chosen-select form-control", readonly:true, selected: @pendataan.pendaftaran_id}) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :periode_awal, 'Periode' %>
                            <div class='input-group'>
                                <%= f.text_field :periode_awal, class: "form-control", validate: true, 'data-date-format'=>"dd-mm-yyyy", readonly:true %>
                                <span class="input-group-addon" style="background-color:white;">
                                    s/d
                                </span>
                                <%= f.text_field :periode_akhir, class: "form-control", validate: true, 'data-date-format'=>"dd-mm-yyyy", readonly:true %>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :rekening_id, 'Rekening' %>
                            <%= f.collection_select(:rekening_id, Rekening.where("id=?",@pendataan.rekening_id), :id, :kode_dan_nama_rekening, {prompt: ' -- Pilih Rekening -- '}, {class: "chosen-select form-control", selected: @pendataan.rekening_id}) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <% if @pendataan.rekening.kode != '1105' and @pendataan.rekening.kode != '1111' %>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :omzet %>
                                <div class='input-group'>
                                    <span class="input-group-addon">
                                        Rp.
                                    </span>
                                    <%= f.text_field :omzet, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                                </div>
                            </div>
                        </div>
                    </div>          
                <% end %>
                <% if @pendataan.rekening.kode != '1105' and @pendataan.rekening.kode == '1111' %>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :jumlah_volume %>
                                <div class='input-group'>
                                    <%= f.text_field :jumlah_volume, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                                    <span class="input-group-addon">
                                        m<sup>3</sup>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>    
                <% end %>
                <% if @pendataan.rekening.kode == '1104' %>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :nilai_reklame %>
                                <%= f.text_field :nilai_reklame, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                            </div>
                        </div>
                    </div>   
                <% end %>
                <% if @pendataan.rekening.kode == '1108' %>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :npa %>
                                <%= f.text_field :npa, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                            </div>
                        </div>
                    </div>   
                <% end %>
                <% if @pendataan.rekening.kode == '1105' %>
                    <div class="col-md-2">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :pemakaian_daya %>
                                <div class='input-group'>
                                    <%= f.text_field :pemakaian_daya, class: "form-control money-left", data: { role: 'money' }, readonly:true %>
                                    <span class="input-group-addon">
                                        KVA
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :volume_pemakaian %>
                                <%= f.text_field :volume_pemakaian, class: "form-control money-left", data: { role: 'money' }, readonly:true %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>  
            <div class="row">
                <div class="col-md-2">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :tarif_persen, 'Tarif' %>
                            <div class='input-group'>
                                <%= f.text_field :tarif_persen, class: "form-control money-left", readonly:true %>
                                <span class="input-group-addon">
                                %
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :tarif_rupiah, 'Nilai Pasar' %>
                            <div class='input-group'>
                                <span class="input-group-addon">
                                Rp.
                                </span>
                                <%= f.text_field :tarif_rupiah, class: "form-control money-left", data: { role: 'money' }, readonly:true %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :jumlah_pajak %>
                            <div class='input-group'>
                                <span class="input-group-addon">
                                Rp.
                                </span>
                                <%= f.text_field :jumlah_pajak, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr hr-18 hr-double dotted"></div>
            <h4 class="lighter">
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a class="pink"> Penelitian
                    <small><i class="ace-icon fa fa-angle-double-right"></i> Hasil Teliti </small>
                </a>
            </h4>
            <div class="hr hr-18 hr-double dotted"></div>
            <% end %>
            <%= form_for(@penelitian, :url => proses_tetapkan_path) do |f| %>
            <%= render 'shared/error', error_form: @penelitian %>
            <div class="row">
                <% if @pendataan.rekening.kode != '1105' and @pendataan.rekening.kode != '1111' %>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :omzet_teliti, "Omzet" %>
                                <div class='input-group'>
                                    <span class="input-group-addon">
                                        Rp.
                                    </span>
                                    <%= f.text_field :omzet_teliti, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly: !@penelitian.new_record? %>
                                </div>
                            </div>
                        </div>
                    </div>          
                <% end %>
                <% if @pendataan.rekening.kode != '1105' and @pendataan.rekening.kode == '1111' %>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :jumlah_volume %>
                                <div class='input-group'>
                                    <%= f.text_field :jumlah_volume, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                                    <span class="input-group-addon">
                                        m<sup>3</sup>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>    
                <% end %>
                <% if @pendataan.rekening.kode == '1104' %>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :nilai_reklame %>
                                <%= f.text_field :nilai_reklame, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                            </div>
                        </div>
                    </div>   
                <% end %>
                <% if @pendataan.rekening.kode == '1108' %>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :npa %>
                                <%= f.text_field :npa, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                            </div>
                        </div>
                    </div>   
                <% end %>
                <% if @pendataan.rekening.kode == '1105' %>
                    <div class="col-md-2">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :pemakaian_daya %>
                                <div class='input-group'>
                                    <%= f.text_field :pemakaian_daya, class: "form-control money-left", data: { role: 'money' }, readonly:true %>
                                    <span class="input-group-addon">
                                        KVA
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="field">
                            <div class="form-group">
                                <%= f.label :volume_pemakaian %>
                                <%= f.text_field :volume_pemakaian, class: "form-control money-left", data: { role: 'money' }, readonly:true %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>  
            <div class="row">
                <div class="col-md-2">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :tarif_persen, 'Tarif' %>
                            <div class='input-group'>
                                <%= f.text_field :tarif_persen, class: "form-control money-left", readonly:true %>
                                <span class="input-group-addon">
                                %
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :tarif_rupiah, 'Nilai Pasar' %>
                            <div class='input-group'>
                                <span class="input-group-addon">
                                Rp.
                                </span>
                                <%= f.text_field :tarif_rupiah, class: "form-control money-left", data: { role: 'money' }, readonly:true %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="field">
                        <div class="form-group">
                            <%= f.label :jumlah_pajak_teliti, "Jumlah Pajak" %>
                            <div class='input-group'>
                                <span class="input-group-addon">
                                Rp.
                                </span>
                                <%= f.text_field :jumlah_pajak_teliti, class: "form-control money-left", data: { role: 'money' }, validate: true, readonly:true %>
                                <%= f.text_field :kode_rekening, class: "form-control hidden", readonly:true %>
                                <%= f.text_field :pendataan_id, class: "form-control hidden", readonly:true %>
                                <%= f.text_field :tgl_tetap, class: "form-control hidden" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">,
                    <%= button_tag(type: 'submit', class: "btn btn-info") do %>
                        <i class="ace-icon fa fa-check bigger-110"></i> Tetapkan
                    <% end %>
                    &nbsp; &nbsp; &nbsp;
                    <%= link_to(raw('<i class="ace-icon fa fa-undo bigger-110"></i> kembali'), '#', class: "btn", onclick:"history.back()") %>
                </div>
            </div>
        <% end %>
    </div>
</div>