<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller lighter blue">Index Rekening</h3>
    <div class="clearfix"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right tableTools-container">
				<div class="dt-buttons btn-overlap btn-group">
					<%= link_to(raw('<i class="ace-icon fa fa-plus icon-on-right bigger-110"></i> Tambah Rekening'), new_rekening_path, class: "dt-button buttons-collection buttons-colvis btn btn-success") %>
				</div>
			</div>
		</div>
	</div>
	<div class="table-header"> Tabel Daftar Rekening </div>
		<div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline">
			<div class="row">
				<%= smart_listing_controls_for(:rekenings, {class: "form-inline text-right"}) do %>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-sm-12">
							<%= select_tag(:filter_tahun_rekening, options_from_collection_for_select(Rekening.select(:tahun).distinct, :tahun, :tahun), {prompt: ' -- Pilih Tahun Pajak -- ', class: "chosen-select  form-control"}) %>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
						<%= select_tag(:filter_induk_rekening, options_from_collection_for_select(Rekening.where("jenis_kode='000' and turunan_kode='000'"), :id, :nama_rekening), {prompt: ' -- Pilih induk Rekening -- ', class: "chosen-select  form-control"}) %>
					</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<%= text_field_tag :filter, '', class: "search form-control", placeholder: "Cari berdasarkan nama...", autocomplete: :on %>
							<div class="input-group-btn">
								<button class="btn btn-primary no-border btn-sm" type="submit">
									<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<%= smart_listing_render(:rekenings) %>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>