<ul class="nav nav-list">
                    <li class="<%= 'active' if params[:controller] == 'home' %>">
                        <%= link_to(raw('<i class="menu-icon fa fa-tachometer"></i><span class="menu-text"> Dashboard </span>'), root_path) %>
						<b class="arrow"></b>
					</li>
					<li class="<%= 'active open' if params[:controller] == 'pendaftarans' %>">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-registered"></i>
							<span class="menu-text"> Pendaftaran </span>
                            <b class="arrow fa fa-angle-down"></b>
						</a>
						<b class="arrow"></b>
                        <ul class="submenu">
                            <li class="<%= 'active' if params[:controller] == 'pendaftarans' and params[:action] != 'daftar_wajib_pajak' %>">
                                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Index Pendaftaran </span>'), pendaftarans_path) %>
                                <b class="arrow"></b>
							</li>
							<li class="<%= 'active open' if params[:controller] == 'pendaftarans' and params[:action] == 'daftar_wajib_pajak' %>">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>
									Cetak
									<b class="arrow fa fa-angle-down"></b>
								</a>
								<b class="arrow"></b>
								<ul class="submenu">
									<li class="<%= 'active' if params[:controller] == 'pendaftarans' and params[:action] == 'daftar_wajib_pajak' %>">
										<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Daftar Wajib Pajak </span>'), daftar_wajib_pajak_pendaftarans_path()) %>
										<b class="arrow"></b>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="<%= 'active open' if params[:controller] == 'kecamatans' or params[:controller] == 'kelurahans' or params[:controller] == 'wilayahs' or params[:controller] == 'usahas' or params[:controller] == 'rekenings' %>">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-gear"></i>
							<span class="menu-text"> Master </span>
                            <b class="arrow fa fa-angle-down"></b>
						</a>
						<b class="arrow"></b>
                        <ul class="submenu">
							<li class="<%= 'active' if params[:controller] == 'rekenings' %>">
                                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Rekening </span>'), rekenings_path) %>
                                <b class="arrow"></b>
							</li>
                            <li class="<%= 'active' if params[:controller] == 'kecamatans' %>">
                                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Kecamatan </span>'), kecamatans_path) %>
                                <b class="arrow"></b>
							</li>
							<li class="<%= 'active' if params[:controller] == 'kelurahans' %>">
                                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Kelurahan/Desa </span>'), kelurahans_path) %>
                                <b class="arrow"></b>
							</li>
							<li class="<%= 'active' if params[:controller] == 'wilayahs' %>">
                                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Wilayah </span>'), wilayah_path(1)) %>
                                <b class="arrow"></b>
							</li>
							<li class="<%= 'active' if params[:controller] == 'usahas' %>">
                                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Jenis usaha </span>'), usahas_path) %>
                                <b class="arrow"></b>
							</li>
						</ul>
					</li>
				</ul><!-- /.nav-list -->