<ul class="nav nav-list">
	<li class="<%= 'active' if params[:controller] == 'home' %>">
		<%= link_to(raw('<i class="menu-icon fa fa-tachometer"></i><span class="menu-text"> Dashboard </span>'), root_path) %>
		<b class="arrow"></b>
	</li>
	<li class="<%= 'active open' if params[:controller] == 'pendaftarans' %>">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-book"></i>
			<span class="menu-text"> Pendaftaran </span>
            <b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
        <ul class="submenu">
        	<li class="<%= 'active' if params[:controller] == 'pendaftarans' and params[:action] != 'daftar_wajib_pajak' and params[:action] != 'cetak_npwpd' %>">
            	<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Index Pendaftaran </span>'), pendaftarans_path) %>
                <b class="arrow"></b>
			</li>
			<li class="<%= 'active open' if params[:controller] == 'pendaftarans' and (params[:action] == 'daftar_wajib_pajak' or params[:action] == 'cetak_npwpd') %>">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-caret-right"></i>
					Cetak
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<b class="arrow"></b>
				<ul class="submenu">
					<li class="<%= 'active' if params[:controller] == 'pendaftarans' and params[:action] == 'daftar_wajib_pajak' %>">
						<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Daftar Wajib Pajak </span>'), daftar_wajib_pajak_pendaftarans_path()) %>
						<b class="arrow"></b>
					</li>
					<li class="<%= 'active' if params[:controller] == 'pendaftarans' and params[:action] == 'cetak_npwpd' %>">
						<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Kartu NPWPD </span>'), cetak_npwpd_pendaftarans_path()) %>
						<b class="arrow"></b>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="<%= 'active open' if params[:controller] == 'pendataans' %>">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-list"></i>
			<span class="menu-text"> Pendataan </span>
            <b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
        <ul class="submenu">
			<li class="<%= 'active' if params[:controller] == 'pendataans' and (params[:kode_rekening] == '1101' or session[:kode_rekening] == '1101') %>">
				<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pajak Hotel </span>'), pendataans_path(kode_rekening: '1101')) %>
				<b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'pendataans' and (params[:kode_rekening] == '1102' or session[:kode_rekening] == '1102') %>">
				<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pajak Restoran </span>'), pendataans_path(kode_rekening: '1102')) %>
				<b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'pendataans' and (params[:kode_rekening] == '1103' or session[:kode_rekening] == '1103') %>">
				<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pajak Hiburan </span>'), pendataans_path(kode_rekening: '1103')) %>
				<b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'pendataans' and (params[:kode_rekening] == '1104' or session[:kode_rekening] == '1104') %>">
				<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pajak Reklame </span>'), pendataans_path(kode_rekening: '1104')) %>
				<b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'pendataans' and (params[:kode_rekening] == '1105' or session[:kode_rekening] == '1105') %>">
				<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pajak Penerangan Jalan </span>'), pendataans_path(kode_rekening: '1105')) %>
				<b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'pendataans' and (params[:kode_rekening] == '1111' or session[:kode_rekening] == '1111') %>">
				<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pajak MBLB </span>'), pendataans_path(kode_rekening: '1111')) %>
				<b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'pendataans' and (params[:kode_rekening] == '1107' or session[:kode_rekening] == '1107') %>">
				<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pajak Parkir </span>'), pendataans_path(kode_rekening: '1107')) %>
				<b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'pendataans' and (params[:kode_rekening] == '1108' or session[:kode_rekening] == '1108') %>">
				<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pajak Air Tanah </span>'), pendataans_path(kode_rekening: '1108')) %>
				<b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'pendataans' and (params[:kode_rekening] == '1109' or session[:kode_rekening] == '1109') %>">
				<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pajak Burung Walet </span>'), pendataans_path(kode_rekening: '1109')) %>
				<b class="arrow"></b>
			</li>
			<li class="<%= 'active open' if params[:controller] == 'pendataans' and params[:action] == 'surat_teguran' %>">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-caret-right"></i>
					Cetak
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<b class="arrow"></b>
				<ul class="submenu">
					<li class="<%= 'active' if params[:controller] == 'pendataans' and params[:action] == 'surat_teguran' %>">
						<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Surat Teguran </span>'), surat_teguran_pendataans_path()) %>
						<b class="arrow"></b>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="<%= 'active open' if params[:controller] == 'penetapan' %>">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-bar-chart"></i>
			<span class="menu-text"> Penetapan </span>
            <b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
        <ul class="submenu">
            <li class="<%= 'active' if params[:controller] == 'penetapan' and params[:action] == 'index' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Rekam Penetapan </span>'), penetapan_index_path) %>
                <b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'penetapan' and params[:action] == 'list' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> List Penetapan </span>'), penetapan_list_path) %>
                <b class="arrow"></b>
			</li>
		</ul>
	</li>
	<li class="<%= 'active open' if params[:controller] == 'penyetoran' %>">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-file-text-o"></i>
			<span class="menu-text"> Penyetoran </span>
            <b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
        <ul class="submenu">
            <li class="<%= 'active' if params[:controller] == 'penyetoran' and params[:action] == 'index' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Rekam Penyetoran </span>'), penyetoran_index_path) %>
                <b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'penyetoran' and params[:action] == 'list' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> List Penyetoran </span>'), penyetoran_list_path) %>
                <b class="arrow"></b>
			</li>
			<li class="<%= 'active open' if params[:controller] == 'penyetoran' and params[:action] == 'cetak_sts' %>">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-caret-right"></i>
					Cetak
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<b class="arrow"></b>
				<ul class="submenu">
					<li class="<%= 'active' if params[:controller] == 'penyetoran' and params[:action] == 'cetak_sts' %>">
						<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Cetak STS </span>'), penyetoran_cetak_sts_path()) %>
						<b class="arrow"></b>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="<%= 'active open' if params[:controller] == 'kecamatans' or params[:controller] == 'kelurahans' or params[:controller] == 'wilayahs' or params[:controller] == 'usahas' or params[:controller] == 'rekenings' or params[:controller] == 'bidangs' or params[:controller] == 'seksis' or params[:controller] == 'jabatans' or params[:controller] == 'golongans' or params[:controller] == 'pegawais' or params[:controller] == 'ttds' %>">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-gear"></i>
			<span class="menu-text"> Master </span>
            <b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
        <ul class="submenu">
			<li class="<%= 'active' if params[:controller] == 'rekenings' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Rekening </span>'), rekenings_path) %>
                <b class="arrow"></b>
			</li>
            <li class="<%= 'active' if params[:controller] == 'kecamatans' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Kecamatan </span>'), kecamatans_path) %>
                <b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'kelurahans' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Kelurahan/Desa </span>'), kelurahans_path) %>
                <b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'wilayahs' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Wilayah </span>'), wilayah_path(1)) %>
                <b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'usahas' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Jenis usaha </span>'), usahas_path) %>
                <b class="arrow"></b>
			</li>
			<li class="<%= 'active' if params[:controller] == 'ttds' %>">
                <%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Tanda Tangan </span>'), ttds_path) %>
                <b class="arrow"></b>
			</li>
			<li class="<%= 'active open' if params[:controller] == 'bidangs' or params[:controller] == 'seksis' or params[:controller] == 'jabatans' or params[:controller] == 'golongans' or params[:controller] == 'pegawais' %>">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-caret-right"></i>
					Kepegawaian
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<b class="arrow"></b>
				<ul class="submenu">
					<li class="<%= 'active' if params[:controller] == 'bidangs' %>">
						<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Bidang </span>'), bidangs_path) %>
						<b class="arrow"></b>
					</li>
					<li class="<%= 'active' if params[:controller] == 'seksis' %>">
						<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Seksi </span>'), seksis_path) %>
						<b class="arrow"></b>
					</li>
					<li class="<%= 'active' if params[:controller] == 'jabatans' %>">
						<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Jabatan </span>'), jabatans_path) %>
						<b class="arrow"></b>
					</li>
					<li class="<%= 'active' if params[:controller] == 'golongans' %>">
						<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Golongan </span>'), golongans_path) %>
						<b class="arrow"></b>
					</li>
					<li class="<%= 'active' if params[:controller] == 'pegawais' %>">
						<%= link_to(raw('<i class="menu-icon fa fa-caret-right"></i><span class="menu-text"> Pegawai </span>'), pegawais_path) %>
						<b class="arrow"></b>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-user"></i>
			<span class="menu-text"> Manajemen User </span>
            <b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
	</li>
</ul><!-- /.nav-list -->